/* Layout Properties */
.imgGallery{


top: 184px;
left: 521px;
width: 480px;
height: 480px;

background: transparent url('/Bilder\ Test\ Task\ 2/521px') 0% 0% no-repeat padding-box; 
border-radius: 5px;
opacity: 1;
border: 1px solid #1E2D3D;
}